@media only screen and (max-width: 700px) {
  /* shows hamburguer menu icon */
  .menu-btn-container {
    display: unset;
  }
  .nav-checkbox {
    display: none;
  }
  .nav-btn {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }
  .nav-background {
    height: 6rem;
    width: 6rem;
    position: relative;
    z-index: -500;
    border-radius: 50%;
    background-color: var(--white);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), background-color 0.5s ease-in-out;
  }

  /* menu */
  .nav-mobile {
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    transform: translateX(50rem);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-item {
    font-size: 2.5rem;
    padding: 0;
  }

  /* FUNCTIONALITY */
  /* ~ general sibling combinator, select all children*/
  .nav-checkbox:checked ~ .nav-background {
    transform: scale(80);
  }
  .nav-checkbox-checked {
    transform: translateX(0);
  }

  /* ICON */
  .nav-icon,
  .nav-icon::before,
  .nav-icon::after {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--grey);
    display: inline-block;
  }
  .nav-icon {
    width: 2rem;
    position: relative;
    margin-top: 3.5rem;
  }
  .nav-icon::before,
  .nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .nav-icon::before {
    top: -1rem;
  }
  .nav-icon::after {
    top: 1rem;
  }

  /* bars when checked */
  .nav-checkbox:checked + .nav-btn .nav-icon {
    background-color: transparent;
  }
  .nav-checkbox:checked + .nav-btn .nav-icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: var(--grey);
  }
  .nav-checkbox:checked + .nav-btn .nav-icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: var(--grey);
  }
}
