/* common style */
.box-common {
  height: 10rem;
  background-color: var(--primary-color-blue);
  animation: 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.small {
  width: 8.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.big {
  width: 11.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* boxes container */
.animated-logo-container {
  width: 20.5rem;
  gap: 0.5rem;
}

.animated-logo-container-menu {
  position: fixed;
  top: 55vh;
  left: 27.5vmin;
  margin: 0 auto !important;
}

/* boxes styles */
.top-left {
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 0.5rem;
  animation-name: slide-top-left;
}

.top-right {
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  animation-name: slide-top-right;
}

.bottom-right {
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 1.5rem;
  animation-name: slide-bottom-right;
}

.bottom-left {
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 1.5rem;
  animation-name: slide-bottom-left;
}

/* boxes animations */
@keyframes slide-top-left {
  0% {
    transform: translateY(0) translateX(0) rotate(0);
  }
  50% {
    transform: translateY(-2rem) translateX(-2rem) rotate(10deg);
    box-shadow: 0 0.5rem 1rem 0 rgb(34 108 224 / 20%);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
  }
}

@keyframes slide-top-right {
  0% {
    transform: translateY(0) translateX(0) rotate(0);
  }
  50% {
    transform: translateY(-4rem) translateX(2rem) rotate(-10deg);
    box-shadow: 0 0.5rem 1rem 0 rgb(34 108 224 / 20%);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
  }
}

@keyframes slide-bottom-left {
  0% {
    transform: translateY(0) translateX(0) rotate(0);
  }
  50% {
    transform: translateY(4rem) translateX(-2rem) rotate(30deg);
    box-shadow: 0 0.5rem 1rem 0 rgb(34 108 224 / 20%);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
  }
}

@keyframes slide-bottom-right {
  0% {
    transform: translateY(0) translateX(0) rotate(0);
  }
  50% {
    transform: translateY(1rem) translateX(4rem) rotate(-25deg);
    box-shadow: 0 0.5rem 1rem 0 rgb(34 108 224 / 20%);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
  }
}

/* smaller animated logo */
/*laptop*/
@media only screen and (max-width: 1024px) {
  /* common style */
  .box-common {
    height: 8.5rem;
  }
  .small {
    width: 7rem;
  }
  .big {
    width: 10rem;
  }

  /* boxes container */
  .animated-logo-container {
    width: 17.5rem;
  }
}

/* less than l-mobile */
@media only screen and (max-width: 400px) {
  /* common style */
  .box-common {
    height: 7rem;
  }
  .small {
    width: 5.5rem;
  }
  .big {
    width: 8.5rem;
  }

  /* boxes container */
  .animated-logo-container {
    width: 16rem;
  }

  /* boxes animations */
  @keyframes slide-top-left {
    50% {
      transform: translateY(-1rem) translateX(-1rem) rotate(10deg);
    }
  }

  @keyframes slide-top-right {
    50% {
      transform: translateY(-2rem) translateX(1rem) rotate(-10deg);
    }
  }

  @keyframes slide-bottom-left {
    50% {
      transform: translateY(2rem) translateX(-1rem) rotate(30deg);
    }
  }

  @keyframes slide-bottom-right {
    50% {
      transform: translateY(0.5rem) translateX(2rem) rotate(-25deg);
    }
  }
}
