@media only screen and (max-width: 700px) {
  /* shows hamburguer menu icon */
  .menu-btn-container {
    display: unset;
  }
  .nav-checkbox {
    display: none;
  }
  .nav-btn {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }
  .nav-background {
    height: 6rem;
    width: 6rem;
    position: relative;
    z-index: -500;
    border-radius: 50%;
    /* background-color: var(--white); */
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), background-color 0.5s ease-in-out;
  }

  /* menu */
  .nav-mobile {
    position: absolute;
    /* top: 8.4vh; */
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15rem;
    margin-left: 2.5vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 91.6vh; */
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    height: 100vh;
    z-index: -200;
    transform: translateX(50rem);
    background-color: var(--yellow);
    transition: background-color 0.5s ease-in-out,
      transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .nav-list {
    flex-direction: column;
    gap: 5vh !important;
  }
  .nav-item {
    font-size: 2.5rem;
    padding: 0;
    color: var(--blue-text-color);
  }
  .nav-item a:hover,
  .nav-item a:active {
    color: var(--white-always);
  }

  /* nav-menu-footer */
  .nav-menu-footer {
    display: flex;
    gap: 10vh;
  }
  .nav-menu-footer-bottom {
    background-color: var(--blue-container);
    width: 100%;
    min-height: 20vh;
    border-bottom-left-radius: 3.5rem;
    transition: background-color 0.5s ease-in-out;
  }
  /* send email button - MENU */
  .btn-email-menu {
    border-color: var(--dark-yellow);
    color: var(--dark-yellow);
  }
  .btn-email-menu::after {
    background-color: var(--white-always);
  }
  .btn-email-menu:hover,
  .btn-email-menu:active {
    color: var(--white-always);
  }

  /* FUNCTIONALITY */
  /* ~ general sibling combinator, select all children*/
  .nav-checkbox:checked ~ .nav-background {
    transform: scale(80);
  }
  .nav-checkbox-checked {
    transform: translateX(0);
  }

  /* ICON */
  .nav-icon,
  .nav-icon::before,
  .nav-icon::after {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--grey);
    display: inline-block;
  }
  .nav-icon {
    width: 2rem;
    position: relative;
    margin-top: 3.5rem;
  }
  .nav-icon::before,
  .nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .nav-icon::before {
    top: -1rem;
  }
  .nav-icon::after {
    top: 1rem;
  }

  /* bars when checked */
  .nav-checkbox:checked + .nav-btn .nav-icon {
    background-color: transparent;
  }
  .nav-checkbox:checked + .nav-btn .nav-icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: var(--grey);
  }
  .nav-checkbox:checked + .nav-btn .nav-icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: var(--grey);
  }
}
