.size {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 100%;
}
#theme-switcher-container {
  position: fixed;
  z-index: 1000;
  bottom: 2.5rem;
  right: 1.5rem;
  color: #fff;
  cursor: pointer;
}

#palette-container,
#bubbles-container {
  position: absolute;
}

/* bubble theme colors common */
#blue-theme-label,
#purple-theme-label,
#green-theme-label {
  width: 3.6rem;
  height: 3.6rem;
  font-size: 1.8rem;
}
#blue-theme-label .fa-fill-drip,
#blue-theme-label:hover .fa-fill,
#blue-theme-label:active .fa-fill,
#purple-theme-label .fa-fill-drip,
#purple-theme-label:hover .fa-fill,
#purple-theme-label:active .fa-fill,
#green-theme-label .fa-fill-drip,
#green-theme-label:hover .fa-fill,
#green-theme-label:active .fa-fill {
  display: none;
  transform: rotate(22deg);
}
#blue-theme-label:hover .fa-fill-drip,
#blue-theme-label:active .fa-fill-drip,
#purple-theme-label:hover .fa-fill-drip,
#purple-theme-label:active .fa-fill-drip,
#green-theme-label:hover .fa-fill-drip,
#green-theme-label:active .fa-fill-drip {
  display: unset;
}
