/* common */
.position {
  position: fixed;
  z-index: 1000;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}
.switch-container,
#color-theme-switch-label {
  width: 5.6rem;
  height: 5.6rem;
}

#blue-theme-label,
#purple-theme-label,
#green-theme-label,
.switch-container {
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 60%);
}
/* end common */

/* container */
.switch-container {
  bottom: 2.5rem;
  right: 1.5rem;
}
#color-theme-switch-label {
  font-size: 2.5rem;
  color: var(--dark-yellow);
  background-color: var(--yellow);
}
#color-theme-switch-label,
#color-theme-switch-label .fa-palette {
  transition: 0.3s;
}
#color-theme-switch:checked + #color-theme-switch-label > i {
  transform: rotate(45deg);
}

/* theme colors common */
#blue-theme-label,
#purple-theme-label,
#green-theme-label {
  bottom: 3.5rem;
  right: 2.5rem;
  width: 3.6rem;
  height: 3.6rem;
  font-size: 1.8rem;
}
#blue-theme-label .fa-fill-drip,
#blue-theme-label:hover .fa-fill,
#blue-theme-label:active .fa-fill,
#purple-theme-label .fa-fill-drip,
#purple-theme-label:hover .fa-fill,
#purple-theme-label:active .fa-fill,
#green-theme-label .fa-fill-drip,
#green-theme-label:hover .fa-fill,
#green-theme-label:active .fa-fill {
  display: none;
  transform: rotate(22deg);
}
#blue-theme-label:hover .fa-fill-drip,
#blue-theme-label:active .fa-fill-drip,
#purple-theme-label:hover .fa-fill-drip,
#purple-theme-label:active .fa-fill-drip,
#green-theme-label:hover .fa-fill-drip,
#green-theme-label:active .fa-fill-drip {
  display: unset;
}
/* end */

#green-theme-label {
  background-color: #006c49;
  transition: transform 0.9s;
}
.green-bubble-move {
  transform: translate(10px, -70px);
}
#blue-theme-label {
  background-color: #0058ca;
  transition: transform 0.6s;
}
.blue-bubble-move {
  transform: translate(-55px, -55px);
}
#purple-theme-label {
  background-color: #801cea;
  transition: transform 0.3s;
}
.purple-bubble-move {
  transform: translate(-70px, 10px);
}
