.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 28rem;
  gap: 10rem;
}

/* first and last item that is an icon with animation */
#item1 {
  grid-row: 1/2;
}
#itemn {
  grid-row: 5/6;
}
#item1 img,
#itemn img {
  height: 30rem;
  animation: swing 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes swing {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

#item2 {
  grid-row: 1/3;
}
#item2:before {
  background-image: url(../assets/projects_cards/personal_portfolio.jpg);
}

#item3 {
  grid-row: 2/4;
}
#item3:before {
  background-image: url(../assets/projects_cards/technical_documentation_page.jpg);
}

#item4 {
  grid-row: 3/5;
}
#item4:before {
  background-image: url(../assets/projects_cards/product_landing_page.jpg);
}

#item5 {
  grid-row: 4/6;
}
#item5:before {
  background-image: url(../assets/projects_cards/sign_up_form.jpg);
}

/* card */
.card {
  position: relative;
  align-items: flex-end;
  overflow: hidden;
  max-width: 45rem;
  padding: 5rem 3rem;
  border-radius: 2rem;
  color: var(--white-always);
  transition: box-shadow 0.5s, opacity 1.25s, background-color 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}
.card-content {
  position: relative;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(90%);
  z-index: 0;
}
.card-title {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--blue-container);
  border-radius: 2rem;
  line-height: 3rem;
  transition: background-color 0.5s ease-in-out;
}
.card-sub-title {
  padding: 0;
  margin-bottom: 2rem;
}

/* hashtags */
.hashtags {
  margin-bottom: 2.8rem;
}
.html-color {
  color: #ff6c39;
}
.html-color:hover,
.html-color:active {
  text-decoration: underline #ff6c39;
}
.css-color {
  color: #35a8db;
}
.css-color:hover,
.css-color:active {
  text-decoration: underline #35a8db;
}
.js-color {
  color: #f0db4f;
}
.js-color:hover,
.js-color:active {
  text-decoration: underline #f0db4f;
}

/* card buttons */
.card-btn-container {
  gap: 1rem;
}

/* hovering */
.card-content-inside {
  opacity: 0;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover,
.card:active {
  align-items: center;
  box-shadow: 0 0rem 1.5rem 1rem rgb(0 0 0 / 80%);
  background-color: var(--dark-blue);
}
.card:hover:before,
.card:active:before {
  transform: translateY(-10%);
  opacity: 0;
}
.card:hover .card-content,
.card:active .card-content {
  transform: translateY(0);
}
.card:hover .card-content-inside,
.card:active .card-content-inside {
  opacity: 1;
  transition-delay: 0.15s;
}
