/*laptop*/
@media only screen and (max-width: 1024px) {
  /* custom common classes */
  .width-55vw {
    width: 85vw;
  }

  /* header */
  .header {
    padding: 0 2rem;
  }

  /* intro-section */
  .intro-section > div:first-child {
    min-width: auto;
  }

  .intro-large,
  .intro-small {
    text-align: center;
  }

  /* intro buttons */
  .intro-btn-container {
    justify-content: center;
  }

  /* animated logo - boxes container */
  .animated-logo-container {
    margin: 0 10vw;
  }

  /* projects-section */
  .cards-container {
    gap: 6rem;
  }
}

/*tablet*/
@media only screen and (max-width: 900px) {
  /* custom common classes */
  /* font styles */
  .title {
    font-size: 3rem;
  }
  .sub-title {
    font-size: 2.5rem;
  }
  .content {
    font-size: 2rem;
  }

  /* header */
  .header {
    font-size: 2rem;
  }
  #logo-name {
    font-size: 2.6rem;
  }
  .nav-list {
    gap: 2rem;
  }

  /* intro-section */
  .intro-large {
    font-size: 4rem;
  }
  .intro-small {
    font-size: 2rem;
  }
  .highlighted {
    font-size: 5rem;
  }

  /* about-section */
  .about-section-content {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-bottom: -35rem;
  }
  .tech-container-img {
    padding: 0 1rem;
    gap: 1rem;
  }

  /* projects section */
  .card {
    min-height: 62rem;
  }

  /* card buttons */
  .card-btn-container {
    flex-direction: column;
  }
}

/*l-mobile*/
@media only screen and (max-width: 700px) {
  /* custom common classes */
  .width-55vw {
    width: 100%;
  }

  /* header */
  .header {
    height: 71px;
    padding-right: 1rem;
  }
  .hide-in-mobile {
    display: none;
  }
  .nav-switch-container {
    gap: 0;
  }

  /* intro section */
  .intro-section {
    min-height: 67rem;
  }
  .intro-large {
    font-size: 3rem;
  }
  .highlighted {
    font-size: 3rem;
  }
  .intro-small,
  .intro-btn {
    font-size: 1.8rem;
  }

  /* intro buttons */
  .intro-btn-container {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  /* about-section */
  .about-section-content {
    margin-bottom: -55rem;
  }

  /* projects-section */
  .projects-section {
    margin-top: 50rem;
    gap: 5rem;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    grid-auto-rows: unset;
    padding: 0 2.5rem;
  }
  .card {
    min-height: 62rem;
    padding: 0 1.5rem 5rem 1.5rem;
  }
  #item1 img,
  #itemn img {
    height: 20rem;
  }

  /* contact-section */
  .contact-section-btns {
    width: 80%;
  }
  .contact-section-btns-social {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /* footer */
  .footer-section {
    height: 30vh;
  }
  .footer-section > div {
    width: 100%;
  }
}

/* less than l-mobile */
@media only screen and (max-width: 375px) {
  /* custom common classes */
  .section-padding {
    padding: 10rem 5vw 0 5vw;
  }

  /* intro-section */
  .intro-section {
    align-items: flex-start;
  }

  /* contact-section */
  .contact-section {
    min-height: 67rem;
    gap: 2.5rem;
  }
  .contact-section-btns {
    width: 100%;
  }
}

/* orientation: landscape */
@media only screen and (orientation: landscape) {
  /* custom common classes */
  .section-padding {
    padding: 10rem 5vw 0 5vw;
  }

  /* header */
  .hide-in-mobile {
    display: unset;
  }

  /* intro-section */
  .intro-section {
    min-height: 67rem;
    align-items: flex-start;
  }

  /* contact-section */
  .contact-section {
    min-height: 50rem;
  }
  .contact-section-btns-social {
    flex-direction: row;
    align-items: inherit;
    width: inherit;
  }

  /* footer */
  .footer-section {
    min-height: 20rem;
  }
}

/* when laptops and pc screens detects landscapes media query */
@media only screen and (min-width: 900px) and (min-height: 500px) {
  .intro-section {
    align-items: center;
  }
}
